version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'monthly'
      day: 'monday'
      time: '09:00'
      timezone: 'Etc/UTC'
    open-pull-requests-limit: 2
    assignees:
      - 'TheOluwafemi'
    commit-message:
      prefix: 'chore'
      include: 'scope'
    labels:
      - 'dependencies'
